

<p>Here are all your surveys</p>

<ul>
  <% @survey_topics.each do |survey_topic| %>
    <li><a href="/survey_topics<%= survey_topic.id() %>"><%= survey_topic.topic() %></a></li>
  <% end %>
</ul>

<p>Create a new topic for your survey:</p>

<form action="/survey_topics" method="post">
  <div class="form-group">
    <label class="form-label" for="survey_topic">Assign a topic to your survey:</label>
    <input class="form-control" id='survey_topic' type="text" name="survey_topic" placeholder="Survey Topic" autofocus>
    <button type="submit" class="button btn">Submit</button>
  </div>
</form>
