<!DOCTYPE html>
<html>
  <head>
    <title>Survey Topics</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>List of survey topics:</h1>
      <%= yield %>
    </div>
    <div class="nav">
      <hr>
      <a href="/">Home</a>
      <a href="/survey_topic">Survey Topics</a>
      <a href="/questions">Questions</a>
    </div>
  </body>
</html>
